/* Import Google fonts here */

@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Averia Libra", cursive;


    /* CSS HEX */
    --primary-color: #042907; /* dark green */
    --secondary-color: #afe0d3; /* light green */
    --highlight-color: #533aac; /* purple */
    --light-highlight: #d5c9f6; /* light purple */
}

/* Global styles */

a,
h1,
h2,
h3,
h4 {
    font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
}

.section {
    padding: 56px 40px 40px 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.source {
    font-size: small;
    font-style: italic;
}


/* Buttons */
.custom-button-outline{
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
}

.custom-button-outline:hover{
    background-color: var(--highlight-color);
    color: white;
}

/* Navbar */

.navbar-color{
    background-color: var(--primary-color);
}

/* Header */

header{
    background-color: var(--secondary-color);
}

/* Main */

#common-mhi, #common-symptoms, #simple-steps-to-help{
    background-color: var(--secondary-color);
}

li {
    font-family: var(--secondary-font);
}

/* Carousel */

.carousel-inner {
    max-width: 400px;
}

/* Common mental health conditions cards */

#common-mhi .card-title {
    min-height: 48px;
}

#common-mhi .card-text {
    min-height: 144px;
    max-height: 344px;
}

/* simple steps to help section */

#simple-steps-to-help .card-title {
    min-height: 48px;
}

#simple-steps-to-help .card-body {
    min-height: 343px;
}


/* Footer */

#footer{
    background-color: var(--primary-color);
    color: var(--light-highlight);
}

.social-links a i{
    color: var(--light-highlight);
    font-size: 2rem;            /* Optional: make icons larger */
    transition: color 0.2s;     /* colour transition time */
}

.social-links a:hover i {
    color: var(--secondary-color);   /* Optional: change colour on hover */
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
    background-color: red;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
